body{
  background-image: url(../images/R-C\ \(2\).jpg);
  background-size: cover;  
  background-position: center center; 
  background-repeat: no-repeat; 
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(86, 133, 174);
    position: relative;
  }
  div#h1{
    padding-top: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    display: grid;
  }
  div#naver{
    width: 100%; 
    height: 80px;
    margin-top: 0px;;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  ul{
    margin: 0px;/*header与naver无缝衔接*/
  }
  div#naver #li_0{
    background-color: rgb(86, 133, 174);
    height: 80px;
    width: 150px;
    padding: 0%;
    float: left;
    margin-left: 25%;/*居中*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: grid; /*使li中的文字水平垂直居中*/
    place-items: center;
  }
  div#naver #li_1{
    background-color: rgb(86, 133, 174);
    height: 80px;
    width: 150px;
    padding: 0%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: grid; /*使li中的文字水平垂直居中*/
    place-items: center;
  }
  div#naver #li_2{
    background-color: rgb(86, 133, 174);
    width: 150px;
    height: 80px;
    padding: 0%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: grid; /*使li中的文字水平垂直居中*/
    place-items: center;
  }
  div#naver #li_3{
    background-color: rgb(86, 133, 174);
    height: 80px;
    width: 150px;
    padding: 0%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: grid; /*使li中的文字水平垂直居中*/
    place-items: center;
  }
  div#naver #li_4{
    background-color: rgb(86, 133, 174);
    height: 80px;
    width: 150px;
    padding: 0%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: grid; /*使li中的文字水平垂直居中*/
    place-items: center;
  }
  div#hobby{
    height: 2000px;
    width: 1000px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  div#hobby #hobby_1{
    height: 500px;
    width: 1000px;
    border-width: 2px;  
    border-color: white;
    border-style:dashed;  
  }
 div#hobby #hobby_2{
    height: 500px;
    width: 1000px;
    border-width: 2px;  
    border-color: white;
    border-style:dashed;  
  }
 div#hobby #hobby_3{
    height: 500px;
    width: 1000px;
    border-width: 2px;  
    border-color: white;
    border-style:dashed;  
  }
  div#hobby #hobby_4{
    height: 500px;
    width: 1000px;
    border-width: 2px;  
    border-color: white;
    border-style:dashed;  
  }
  footer{
    height: 15px;
    width: 100%;
    background-color: black;
  }
  img#img_1{
    max-width: 100%;
    width:500px;
    cursor: zoom-in;/*鼠标停留时互动*/
    height: 300px;
    float: left;  
    margin-right: 15px;
    margin-left: 10px;
    margin-top: 80px;
  }
  div#text_1{
    overflow: hidden;/* 清除浮动影响 */ 
  }
  img#img_2{
    max-width: 100%;
    width:300px;
    cursor: zoom-in;
    height: 500px;
    float: right;  
    margin-right: 15px;
  }
  div#text_2{
    overflow: hidden;
  }
  img#img_3{
    max-width: 100%;
    width:500px;
    cursor: zoom-in;
    height: 300px;
    float: left;  
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 80px;
  }
  div#text_3{
    overflow: hidden;
  }
  img#img_4{
    max-width: 100%;
    width:500px;
    cursor: zoom-in;
    height: 400px;
    float: right;  
    margin-right: 15px;
    margin-top: 30px;
  }
  div#text_4{
    overflow: hidden;
  }
  footer{
    margin-top: 50px;
  }
  a:link {  
    color: rgb(255, 255, 255);  
    text-decoration: none;  
  }   
  a:visited {  
    color: rgb(255, 255, 255);  
  }   
  a:hover {  
    color: #ba1111;
    text-decoration: underline; 
  }   
  a:active {  
    color: rgb(0, 0, 0);  
  }  