body { 
    background-image: url(../images/1-2012091Z629.jpg);
    font-family:      Georgia, "Times New Roman", Times, serif;
    font-size:        small;
    margin:           0px;
    background-size: cover;
    background-attachment: fixed;
  }
  div#h1{
    padding-top: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    display: grid;
    font-size: 50px;
  }
  div#h2{
    padding-top: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    display: grid;
    font-size: 25px;
    width: 20%;
    float: left;
    border:dotted 5px white;
    margin-left: 40%;
    margin-top: 10%;
  }
  
  a:link {  
    color: rgb(255, 255, 255);  
    text-decoration: none; /* 移除下划线 */  
  }  
  
  /* 已被访问的链接 */  
  a:visited {  
    color: rgb(255, 255, 255);  
  }  
  
  /* 鼠标悬停在链接上 */  
  a:hover {  
    color: #000000;
    text-decoration: underline; /* 添加下划线 */  
  }  
  
  /* 链接被点击时的状态 */  
  a:active {  
    color: rgb(255, 255, 255);  
  }  