body { 
    font-family:      Georgia, "Times New Roman", Times, serif;
    font-size:        small;
    margin:           0px;
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  header{
    width: 60%;
    height: 100px;
    margin-left: 20%;
    background-image: url(../images/R-C.jpg);
    object-fit: cover; /* 保持宽高比的同时填充整个容器 */  
    display: block;  
    position: relative;
  }
  div#h1{
    padding-top: 20px;
    text-align: center;
    color: white;
    font-weight: bolder;
    display: grid;
  }
  footer{
    height: 50px;
    width: 100%;
    background-image: url(../images/u=land.webp);
    object-fit: cover;  
    display: block;  
    position: relative;
  }
  div#container_1{
    height: 2500px;
    width: 60%;
    margin-left: 20%;
  }
  div#container_2{
    height: 2200px;
    padding: 60px;
    background-color: rgb(255, 255, 255);
  }
  div#naver{
    height: 80px;
    margin-bottom: 50px;
    background-color: rgb(226, 133, 12);
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: #2A6EA6;
  }
  div#insert{
    position: fixed;  
    top: 15%; /* 从顶部开始 */  
    left: 0px; /* 从左边开始 */  
    width: 380px; /* 设置侧边栏宽度 */  
  }
  img#insert{
    width: 380px;
    height: auto;
  }
  ul{
    padding: 0%;
  }
  div#naver #li_0{
    height: 80px;
    width: 20%;
    padding: 0%;
    float: left;
    margin-left: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: grid; /*使li中的文字水平垂直居中*/
    place-items: center;
  }
  div#naver #li_1{
    height: 80px;
    width: 20%;
    padding: 0%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: grid; /*使li中的文字水平垂直居中*/
    place-items: center;
  }
  div#naver #li_2{
    width: 20%;
    height: 80px;
    padding: 0%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: grid; /*使li中的文字水平垂直居中*/
    place-items: center;
  }
  div#naver #li_3{
    height: 80px;
    width: 20%;
    padding: 0%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: grid; /*使li中的文字水平垂直居中*/
    place-items: center;
  }
  div#naver #li_4{
    height: 80px;
    width: 20%;
    padding: 0%;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    display: grid; /*使li中的文字水平垂直居中*/
    place-items: center;
  }
  img#img{
    max-width: 100%;
    width: 800px;
    cursor: zoom-in;/*鼠标停留时互动*/
    height: auto;
    margin-left: 5%;
  }
  p#site{
    text-align: center;
  }
  a:link {  
    color: rgb(0, 0, 0);  
    text-decoration: none; /* 移除下划线 */  
  }  

/* 已被访问的链接 */  
  a:visited {  
    color: rgb(255, 255, 255);  
  }  

/* 鼠标悬停在链接上 */  
  a:hover {  
    color: #ba1111;
    text-decoration: underline; /* 添加下划线 */  
  }  

/* 链接被点击时的状态 */  
  a:active {  
    color: rgb(0, 0, 0);  
  }  